# Copie para .env e ajuste os valores antes de rodar docker compose.

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JWT_SECRET=314971f41f35ddf4af2dc8b9ca69fe2b93bc77128dbdc330c7281b966b20b2c8
JWT_ISSUER=martech-gateway
JWT_AUDIENCE=martech-clients
